@import "variables";
@import url('https://fonts.googleapis.com/css?family=PT+Sans|Roboto&display=swap');

  html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1px;
  }

  button {
    background-color: #c34d41;
  }

  #app {
    margin: 10%;
    max-width: 1600px;
  }

  .container {
    padding: 0 10vw;

    h2 {
      text-align: center;
    }
  }

  .form-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 30vw;
    padding: 10px;
    input {
      font-size: 14px;
      width: 40vw;
      height: 30px;
      border: 1px solid black;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    button {
      height: 34px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border: 1px solid black;
      color: white;
    }
  }

  .user-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 45vw;

    img {
      width: 7vw;
      min-width: 60px;
      margin: 10px;
    }
  }

  .load-more {
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    margin: 1em auto;
    padding: .75em 1em;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
  }

  .repositories-container {
    width: 45vw;
    margin: 0 auto;

    a {
      text-decoration: none;
      color: black;
      line-height: 50px;
      &:hover {
        cursor: pointer;
        color: lightblue;
      }
    }
  }

  .repositories-list {
    &:nth-child(2n) {
      background-color: gray;
    }
  }

  .line {
    display: inline-block;
  }

  .flex {
    display: flex;
  }

  .column-2 {
    width: 10vw;
  }

  .column-4 {
    width: 20vw;
  }

  .column-6 {
    width: 35vw;
  }

  .align-left {
    text-align: left;
  }

  .align-right {
    text-align: right;
  }

  .align-center {
    text-align: center;
  }